@import "tailwindcss";
/* Lägger in en mjuk rullning på alla scroll länkar */
html {
  scroll-behavior: smooth;
}

/* 1. Definiera dina färger som variabler */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-green: #02ACA7;
  --brand-navy: #003C71;
}

/* 2. Koppla dina typsnitt och färger till Tailwinds tema-motor */
@theme {
  /* Dina märkesfärger */
  --color-brand-green: #02ACA7;
  --color-brand-navy: #003C71;
  --color-brand-dark: #00284d;

  /* Typsnitt */
  --font-display: "Montserrat", sans-serif;
  --font-sans: "Inter", sans-serif;
  --font-logo: "Bahnschrift", "Arial", sans-serif;
}